*, *::after, *::before {
   box-sizing: border-box;
}
html,
body {
   font-family: 'Roboto', sans-serif;
   font-size: 62.5%;
   font-weight: normal;
   color: #ffffff;
   background-image: url(../image/bgc.png);
   background-repeat: no-repeat;
   background-size: cover;
}
img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   flex-shrink: 0;

}
a {
   text-decoration: none;
   color: inherit;
}
button, input {
   outline: none;
   border: none;
   cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
   padding: 0;
   margin: 0;
}
.container {
   width: 130rem;
   margin: 0 auto;
}
:root{
   --text-size-medium: 1.6rem;
}
.block__center {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.button {
   line-height: 1.5;
   border-radius: 5rem;
   padding: 1rem 3rem;
   color: #ffffff;
}

.header{
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   width: 100%;
   padding: 4rem 11rem 4rem 8rem;
   z-index: 10;
}
.header__menu {
   display: flex;
   justify-content: space-between;
   width: 99rem;
}
.header__nav {
   width: 46.3rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   font-size: var(--text-size-medium);
   line-height: 1.5;
}

.header__wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__logo {
   display: block;
   width: 4rem;
   height: 4rem;
}
.header__button {
   font-size:  var(--text-size-medium);
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   line-height: 1.6;
}
.main-display{
   padding-top: 27rem;
}
.main-display .container {
   position: relative;
   z-index: 10;
   padding-bottom: 22.8rem;
}
.main-display__header {
   max-width: 76rem;
   margin-bottom: 5rem;
   font-size: 6.4rem;
   font-weight: 700 ;
   line-height: 1.4;
}
.main-display__timer{
   display: flex;
   margin-bottom: 7.6rem;
}
.timer__item {
   width: 10.2rem;
   height: 11.2rem;
   background-color: #121212;
  
}
.timer__item:not(:last-child) {
   margin-right: 3rem;
}
.timer__count{
   font-size: 3.6rem;
   font-weight: 700;
   line-height: 1.4;
}
.timer__text{
   font-size:  var(--text-size-medium);
   opacity: 0.4;
   line-height: 1.4;
}
.main-display__button{
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  font-size:  var(--text-size-medium); 
  line-height: 1.6;
}
.mine-display__background{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}
.work {
   padding-top: 20rem;
   padding-bottom: 24.3rem;
}
.work__wrap {
   display: flex;
}
.work__img {
   width: 52.6rem;
   height: 49.9rem;
   margin-right: 13.9rem;
}
.work__text{
   width: 63.6rem;
   padding-top: 6.9rem;
}
.work__header {
   height: 6.7rem;
   margin-bottom: 4.5rem;
   font-size: 4.8rem;
   font-weight: 700;
   line-height: 1.4;
}
.work__description {
   font-size:  var(--text-size-medium);
   line-height: 1.6;
   opacity: .5;
}
.process {
   position: relative;
   padding-bottom: 20rem;
}
.process__columns {
   max-width: 130rem;
   display: flex;
   flex-wrap: wrap;
}
.process__line1 {
   
   width: 30.6rem;
   height: .2rem;
   margin-bottom: 4.8rem;
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

}
.process__line2 {
   
   width: 30.6rem;
   height: .2rem;
   margin-bottom: 4.8rem;
   background: linear-gradient(94.26deg, #7C6AFA 9.51%,  #C89AFC 90.23%);

}
.process__img {
   width: 12.7rem;
   height: 12.7rem;
   margin-right: 2rem;
}

.process__title {
   display: flex;
   align-items: center;
   margin-bottom: 4.9rem;
}
.process__header {
   padding-top: 1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4;
}
.process__description {
   max-width: 41.1rem;
   margin-bottom: 8rem;
   font-size:  var(--text-size-medium);
   line-height: 2.6;
   opacity: 0.5;
}

.process__item {
   max-width: 32.4rem;
}
.process__work {
   margin-bottom: 1.5rem;
   font-size: 3.6rem;
   font-weight: 700;
   line-height: 1.5;
}
.process__text {
   width: 30.6rem;
   height: 8.8rem;
   font-size: 1.4rem;
   line-height: 1.8;
   opacity: .5;
}
.command {
   margin-bottom: 20rem;
}
.command__header {
   margin-bottom: 0;
}
.command .process__img {
   transform: rotate(315deg);
}
.command__title {
   margin-bottom: 11.9rem;
}
.command__wrap {
   display: flex;
   justify-content: space-between;
}
.command__item {
   width: 41.6rem;
   height: 37.9rem;
}
.command__img {
   width: 19rem;
   height: 19rem;
   margin-bottom: 4rem;
   border-radius: 50%;
}
.command__name {
   margin-bottom: 1.5rem;
   font-size: 2.4rem;
   text-align: center;
}
.command__professional {
   margin-bottom: 3rem;
   font-size:  var(--text-size-medium);
   font-weight: 500;
   line-height: 1.6;
   opacity: .7;
}
.command__link {
   font-size:  var(--text-size-medium);
   line-height: 1.5;
   border: .1rem solid #ffffff;
   transition: .3s ease-in-out;
}
.command__link:hover{
   opacity: .8;
   box-shadow: 1px 1px 2px 2px #B5B8B1, -1px -1px 2px 2px #B5B8B1;
}
.assembly {
   padding-bottom: 24.4rem;
}

.assembly__header {
   margin-bottom: 3rem;
   font-size: 4.8rem;
   line-height: 1.4;
   font-weight: 700;

}
.assembly__description {
   margin-bottom: 4.52rem;
   font-size:  var(--text-size-medium);
   line-height: 1.6;
   
}
.assembly__button {
   margin-bottom: 5.08rem;
   background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
   font-size:  var(--text-size-medium);
   line-height: 1.5;
   font-weight: 700;
}
.assembly__socials {
   
   display: flex;
}
.assembly__item {
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   border-radius: 50%;
   width: 5rem;
   height: 5rem;
}
.assembly__item img {
   width: 50%;
   height: 50%;

}
.assembly__item:not(:last-child) {
   margin-right: 3rem;
}

.modal {
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   z-index: 10;
   padding: 3rem 0;
   background: rgba(0, 0, 0, 0.8);
   display: none;
}
.modal__inner {
   position: relative;
   width: 66.3rem;
   padding: 9rem 1rem;
   background-color: #2c2c2c;
   text-align: center;
}
.modal__header {
   margin-bottom: 1rem;
   font-size: 4.8rem;
   font-weight: 700;
   line-height: 1.4;
}
.modal__subheader {
   margin-bottom: 2.8rem;
   font-size: var(--text-size-medium);
   line-height: 1.6;
   opacity: .5;
}
.modal__elements {
   width: 45.4rem;
   margin: 0 auto 3.2rem auto;
}
.modal__item {
   height: 4.4rem;
}
.modal__input {
   width: 100%;
   height: 100%;
   background-color: #b3b2b2;
   opacity: .8;
   border-radius: 5rem;
   font-size: 1.4rem;
   line-height: 1.6;
   color: #ffffff;
   text-align: center;
}
.modal__item:not(:last-child) {
   margin-bottom: 1.6rem;
}
.modal__close {
   position: absolute;
   top: 2rem;
   right: 2rem;
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}
.noscroll {
   overflow: hidden;
   height: 100%;
}